body {
    font-family: sans-serif;
    background-color: #eee;
    min-height: 100%;
}

ul.pagination{
    margin: 0 auto;
    width: fit-content;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: 600;
    color: white;
}

.search-bar {
    width: max-content;
    margin-left: auto;
}

.navbar-nav {
    max-width: 100%;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar-item {
    margin: 0.809em;
    height: 8.1em;
}
.navbar-title {
    color: #eee;
    font-weight: bold;
}
.search-button {
    background: black;
    color: white;
    border-color: #444;
    font-size: 0.8em;
    font-weight: bold;
    display: inline;
    vertical-align: middle;
}
.search-box {
    height: 1.618em;
}

select {
    max-width: 16em;
    display: inline;
    background-color: white;
    border-color: white;
    height: 1.618em;
}

#page-title {
    padding-bottom: 1em;
    padding-top: 3em;
}

#page-title h1 a {
    font-weight: 600;
    color: #fff;
    font-size: 2.7rem;
}

.post-head{
    width: 50%;
}

.post {
    background-color: white;
    margin: auto;
    max-width: 50em;
    min-width: 60em;
    padding: 1em;
    box-shadow: -5px 5px 0 #ddd;
}

.post a {
    color: black;
}

.row {
    border-bottom: #aaa 1px solid;
    width: fit-content ;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.permissionsTitle{
    display: inline;
    font-weight: 400;
    margin: 1em;
}
.dangerous { color: red; }
.normal { color: orange; }
.signature { color: yellow; }
.unknown { color: gray; }

.permission-link a {
    text-decoration: none;
    color: inherit;
} 

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    font-family: 'Ubuntu', sans-serif;
}

.blog-post-content {
    width: 81%;
    margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts_listing li {
  list-style-type: none;
}

.title {
  font-size: 1.7rem;
  float: left;
}

.category {
  font-size: 0.8rem;
  color: grey;
}

.post .icon {
    float: left;
    margin-right: 1em;
}

.info {
    margin-left: 50%;
}
.info td {
    padding-left: 0.7em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4  {
  font-size: 1.2rem;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 0.8rem;
}

code {
  font-family: sans-serif;
  white-space: pre;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef
}

footer  {
  text-align: center;
}

.small-icon {
    width: 2em;
    height: 2em;
}

.icon { 
    width: 4em;
    height: 4em;
}

.header {
    background-color: #444;
    width: 100%;
    padding-left: 5em;
    padding-bottom: 2em;
}

.container-fluid{
    padding:0;
    margin:0;
}
