    <li>
      <div class="row" id="posts">
        <div class="post">
          <a href="{{ .URL }}">
              <section class="post-head"> 
              {{ with .Params.icon }}
              <section class="icon-container"> 
                  {{ if (fileExists .) }}
                  <img src="{{.}}" class="icon" alt="{{ $.Params.Title }} icon"></img>
                  {{ else }} 
                  <img src="{{ "assets/defaultIcon.png" | absURL }}" class="small-icon" alt="{{ $.Params.Title }} icon"></img>
                  {{ end }}
              </section>
                  {{ end }}
                  {{ $category := .Params.categories }}
                  <section class="category"> {{ $category | lower | humanize }} </section>
               <section class="title"> {{ .Title }} </section>
              </section>
              <section class="info">
                  <table>
                      <tbody>
                      {{ with .Params.permissionCount }}
                        <tr>
                            <td> <div class="permissionsTitle"> {{ . }} </div> <div class="permissionsTitle">Permissions in total</div></td>
                        </tr> 
                      {{ end }}
                      {{ with .Params.normalCount }}
                      <tr>
                          <td> <div class="normal permissionsTitle"> {{ . }}</div> <div class="permissionsTitle">considered normal</div></td>
                      </tr>
                      {{ end }}
                      {{ with .Params.dangerousCount }}
                      <tr>
                          <td> <div class="dangerous permissionsTitle"> {{ . }}</div> <div class="permissionsTitle">considered dangerous</div></td>
                      </tr>
                      {{ end }}
                      {{ with .Params.signatureCount }}
                      <tr>
                          <td> <div class="signature permissionsTitle"> {{ . }}</div> <div class="permissionsTitle">signature</div></td>
                      </tr>
                      {{ end }}
                      {{ with .Params.unknownCount }}
                      <tr>
                          <td> <div class="unknown permissionsTitle"> {{ . }}</div> <div class="permissionsTitle">unknown</div></td>
                      </tr>
                      {{ end }} 
                      {{ with .Params.trackerCount }}
                      <tr>
                          <td> <div class="trackerTotal permissionsTitle"> {{ . }}</div> <div class="permissionsTitle">Tracker in total</div></td>
                      </tr>
                      {{ end }}
                      </tbody>
                  </table>
              </section>
            <!-- {{ with .Params.appopCount }}       appop:{{ . }} {{ end }}
            {{ with .Params.developmentCount }} development: {{ . }} {{ end }}
            {{ with .Params.pre23Count }}       pre23: {{ . }} {{ end }}
            {{ with .Params.preinstalledCount }} preinstalled: {{ . }} {{ end }}
            {{ with .Params.instantCount }}     instant: {{ . }} {{ end }} -->
          </a>
        </div>
      </div>
    </li>
